:root{
    font-family: "Montserrate","Avenir" ;
    outline: none;
}
body {
    background: #232323;
    margin: 0px;
}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding:20px 0;
    transition: background 0.6s;
}
h1 span{
    display: block;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}
#colorDisplay{
    text-transform:uppercase;
}
#colorDisplay{
    font-size:2em;
    font-weight: 100;
}
.square {
    width: 30%;
    background: purple;
    margin: 1.66%;
    padding-bottom: 26%;
    border-radius: 20px;
    cursor: pointer;
    float: left;
    transition: background 0.6s;
}
.stripe{
    background: white;
    height:30px;
    text-align: center;
    width:100%;
    margin-bottom: 20px;
}
.selected-btn{
    background: steelblue !important;
    color:white !important;
    pointer-events: none;
}
.stripe button{
    border:none;
    color:steelblue;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: inherit;
    outline: none;
    background: none;
    transition: all 0.4s;
}
.stripe button:hover{
    background: steelblue;
    color:white;
}

#message{
    width:20%;
    display: inline-block;
}